#bios-container {
    background-color: #0000a8;
    color: #ffffff;
    font-family: 'ModernDOS';
    font-size: 24px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bios-title {
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

#bios-title p {
    margin: 0;
}

#bios-tabs {
    display: flex;
    padding: 0 15px;
}

.bios-tab {
    padding: 2px 15px;
    margin-right: 5px;
    cursor: default;
}

.bios-tab.active {
    background-color: #d0d0d0;
    color: #0000a8;
}

#bios-content {
    flex-grow: 1;
    background-color: #d0d0d0;
    color: #000000;
    margin: 0 15px;
    border: 4px solid #0000a8;
    display: flex;
    box-shadow: 0 0 0 4px #d0d0d0;
}

#bios-content-main {
    flex: 6.5;
    padding: 15px 25px;
    overflow-y: auto;
}

.bios-row {
    display: flex;
    margin-bottom: 2px;
}

.bios-label {
    width: 45%;
}

.bios-value {
    width: 55%;
}

.bios-content-divider {
    width: 4px;
    background-color: #0000a8;
}

#bios-content-right {
    flex: 3.5;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #0000a8;
}

#bios-description {
    flex-grow: 1;
}

#desc-ctrl {
    border: none;
    border-top: 2px solid #0000a8;
    width: 100%;
    margin: 15px 0;
}

#bios-control div {
    margin-bottom: 4px;
}

#bios-footer {
    text-align: center;
    padding: 10px 0;
}

#bios-footer p {
    margin: 0;
}

.bios-selectable {
    padding: 2px 0;
}

.bios-selectable.bios-selected {
    background-color: #000000;
    color: #ffffff;
}

.bios-selectable.bios-selected .bios-value {
    color: #ffffff;
}

#bios-popup-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#bios-popup {
    background-color: #0000a8;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 0 2px #0000a8, inset 0 0 0 4px #ffffff;
    padding: 30px 50px;
    text-align: center;
    min-width: 400px;
}

#bios-popup-title {
    margin-bottom: 30px;
    font-size: 1.1em;
}

#bios-popup-options {
    display: flex;
    justify-content: space-around;
}

.bios-popup-option {
    padding: 5px 20px;
}

.bios-popup-option.selected {
    background-color: #ffffff;
    color: #0000a8;
}